repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.73.0
  hooks:
    - id: terraform_fmt
    - id: terraform_docs
    - id: terraform_validate    
    - id: terraform_tflint
    - id: terraform_tfsec
